html, body {
    height: 100%;
    margin: 0px;
    background-color:#333333; 

}

.row{
    margin:0px!important;
    padding: 0px!important;
}

.container{
    height:92%;
    width:100%!important;
    margin-right: 0px!important;
    padding: 0px!important;
    background-color: #333333!important; 
    display:inline;
    overflow-y: hidden; 
}

.content_general{
    height:92%;
    width:90%!important;
    margin-right: 0px!important;
    margin-top:2%!important;
    background-color: #333333!important;
    display:inline;
    text-align: left;
    white-space:pre-line;

}

#head{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important;  
    margin-right: 0px!important;
    height:9%;
    width:100%;
    text-align:left;
    padding-top: 13px;
    padding-bottom:9%!important;
    position : relative;
}

#content_general1{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important;  
    margin-right: 0px!important;
    height:75%;
    padding-bottom : 5px;
    padding-left: 40px;
}

#content_general2{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important;  
    margin-right: 0px!important;
    height:75%;
    padding-bottom : 5px;
    padding-left: 40px;
}

.content_upload1{
    height:92%;
    width:90%!important;
    margin-right: 0px!important;
    background-color: #333333!important;
    display:inline;
    text-align: left;
    white-space:pre-line;

}

#head2{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important;  
    margin-right: 0px!important;
    height:9%;
    width:100%;
    text-align:left;
    padding-top: 13px;
    padding-bottom:9%!important;
    position : relative;
}

#left_div{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important;  
    margin-right: 0px!important;
    height:82%;
    padding-bottom : 5px;
    padding-left: 40px;
}

#right_div{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important;  
    margin-right: 0px!important;
    height:82%;
    padding-bottom:5px;
    padding-left : 40px;
}

#content_upload2{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important; 
    margin-right: 0px!important;
    height:82%;
    padding-bottom:5px;
    padding-left : 0px!important;
}

#head3{
    opacity :0.85;
    border-radius: 0;
    border:none;
    margin-bottom:0px!important;  
    margin-right: 0px!important;
    height:9%;
    width:100%;
    text-align:left;
    padding-top: 13px;
    padding-bottom:9%!important;
    position : relative;
}

#mapid{
    margin: 0px;
    padding: 0px;
    height:65%!important; 
    width:90%!important;
    display:block;
}
.mapboxgl-canvas{
    width:100%!important;
    height:100%!important;
}



/* GEOCODER */
.mapboxgl-ctrl-geocoder ul > li.active > a{
    background-color: black!important; 
}
/* RESULTAT DU GEOCODER*/
.suggestions{
    background-color: #2b2f36!important; 
    opacity:0.9;
}

.ui-control {
    display: block;
    position: relative;
    margin: 0px;
    width: 50%;
    padding:5px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: left;
    color: #222;
    background: #fff;
}

.p{
    display:inline;

}

.links{
    max-height: 250px;
    overflow-y: auto;
}

.input_upload{
    color:#87c2c4!important;
}

.radio_marker{
    vertical-align: bottom;
    position: relative;
    width:30px!important;
    height:15px!important;
    margin:0!important;
    padding:0!important;
}

.label{
    font-weight:200!important; 
    display:block!important;
    margin:0!important;
    padding:0!important;
}

select{
    color:#444;
    font-weight:200;
    font-size:13pt;
    outline:none;
    height:35px;
    padding:5px;
}

/*Suggestions le l'autocompletion'*/
li{
    list-style-type: none; 
}
.awesomplete ul{
    padding:0;
    margin:0;
    background-color: #666;
}
.awesomplete li{
    padding:5px;
    cursor : pointer;
    min-height:30px;
}
.awesomplete li:hover{
    background-color: #777;
}

.valid_upload{
    position:fixed;
    bottom:10%;
    right:30px;
}
